html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------------------------------------------------*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 5rem;
  background-color: whitesmoke;
}

.container > button {
  height: 5rem;
  width: 10rem;
  font-size: larger;
  border-radius: 1rem;
  border: none;
  background-color: rgba(128, 128, 128, 0.411);
}

.container > button:active {
  background-color: red;
}

.board {
  display: grid;
  grid-template: repeat(3, 150px) / repeat(3, 150px);

  justify-content: center;
}

.board button {
  background-color: rgba(255, 115, 0, 0.849);
  font-size: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 5px solid grey;
}

.board button:hover {
  background-color: rgba(0, 128, 0, 0.363);
}

.popup {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.5);
}

.hide {
  z-index: 1;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: grey;
  border-radius: 1rem;
  padding: 3rem;
  font-size: 2rem;
}

input {
  font-size: 2rem;
  border-radius: 1rem;
  border: none;
  margin-left: 10px;
}

input:focus {
  outline: none;
  border: none;
  padding-left: 10px;
}

.container-option {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

.option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

form > button {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
  background-color: rgb(150, 150, 150);
  height: 4rem;
  width: 12rem;
  border: none;
  border-radius: 1rem;
}
